---
import Layout from "../layouts/Layout.astro";
import me from "../assets/images/me-small.jpg";
import { Image } from "astro:assets";
import ContactLinks from "../components/ContactLinks.astro";
import Skills from "../components/Skills.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";

const categories = [
 { name: "skills" },
 { name: "projects" },
 { name: "about" },
];
// maybe add contact section
---

<Layout title="Brian Stricker">
 <main class="w-full h-screen flex flex-col items-center justify-center">
  <div class="flex flex-col">
   <div class="flex flex-row mx-auto">
    <Image
     class="object-cover rounded-full w-28 h-28 sm:w-[160px] sm:h-[160px]"
     src={me}
     alt="me"
     width={160}
     height={160}
    />
    <div class="flex flex-col justify-center">
     <div class="ml-4">
      <h1 class="text-2xl sm:text-4xl mt-2">Brian Stricker</h1>
      <p class="opacity-80 text-sm sm:text-base text-center">
       Full stack developer
      </p>
     </div>
     <div class="mt-4 flex flex-col items-center">
      <ContactLinks icons={true} index={true} />
     </div>
    </div>
   </div>
   {
    categories.map((c) => (
     <input
      type="radio"
      name="categories"
      class="hidden"
      id={c.name}
      checked={c.name === "skills" ? true : false}
     />
    ))
   }
   <ul class="my-4 sm:mt-6 flex gap-3 sm:gap-6 self-center items-center">
    {
     categories.map((c) => (
      <li class="group">
       <label class="font-bold cursor-pointer tab-titles" for={c.name}>
        {c.name}
       </label>
       <div class="tab-title-underline bg-blue-400 h-[2px] w-0 group-hover:w-full transition-all duration-300" />
      </li>
     ))
    }
   </ul>
   {
    categories.map((c) => (
     <div class={"tab-content hidden " + c.name}>
      {c.name === "skills" && <Skills />}
      {c.name === "projects" && <Projects />}
      {c.name === "about" && <About />}
     </div>
    ))
   }
  </div>
 </main>
</Layout>
<style>
 #skills:checked ~ ul .group .tab-titles[for="skills"] + .tab-title-underline,
 #projects:checked
  ~ ul
  .group
  .tab-titles[for="projects"]
  + .tab-title-underline,
 #about:checked ~ ul .group .tab-titles[for="about"] + .tab-title-underline {
  @apply bg-blue-400 h-[2px] w-full transition-all duration-200;
 }
 #skills:checked ~ .skills,
 #projects:checked ~ .projects,
 #about:checked ~ .about {
  @apply block h-[400px] max-w-[600px] mx-auto transition-all duration-200;
 }
</style>
